.vscode
build

practicals/build
practicals/Workshop2/Task2/Testing/


# Ignore build files for Assignment (uses clang instead of cmake for building)
Assignment/Task1/a.exe
Assignment/Task1/a.ilk
Assignment/Task1/a.out
Assignment/Task1/a.pdb
Assignment/Task1/context.hpp.gch
Assignment/Task1/context.hpp.pch
Assignment/Task1/Task1.pdb
